.services {
  @apply relative px-2;

  z-index: 10;

  @screen md {
    padding: 0 16.5vw 98.3px;
  }

  &__container {
    @apply grid grid-cols-1 md:grid-cols-4;
  }
}

.service {
  @apply mb-8 md:mb-0;

  $padding-x: 16.5px;

  & img {
    padding: 0 $padding-x;
    margin-bottom: 10.5px;
  }
  
  &__title {
    @apply font-semibold text-lg;
    border-left: 4px solid $primary-color;
    color: $text-color-light;
    margin-bottom: 11px;
    padding: 0 $padding-x;
  }

  &__description {
    color: $text-color-gray;
    padding: 0 $padding-x;
  }
}